<p style="color: green"><%= notice %></p>

<% content_for :title, "Tasks" %>
<%= turbo_frame_tag id="new_task", src:new_task_path %>
<h1>Tasks list:</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
  <% end %>
</div>

